{{ define "main" }}
    <main aria-role="main">
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1>{{ .Site.Title }}</h1>
            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
        <br>
        <div style="display: inline-block">
            <a href="https://hackthebox.eu/profile/51094"><img src="https://www.hackthebox.eu/badge/image/51094" alt="Hack The Box"></a>
        </div>
        <div>
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="lapolis" data-color="#343c41" data-emoji="🍺"  data-font="Arial" data-text="Buy me a beer" data-outline-color="#fff" data-font-color="#93c217" data-coffee-color="#fd0" ></script>
        </div>
    </main>
{{ end }}
